pip install asgiref
pip install bcrypt
pip install click
pip install dnspython
pip install email-validator
pip install Flask
pip install Flask-Bcrypt
pip install Flask-Login
pip install Flask-SQLAlchemy
pip install Flask-WTF
pip install greenlet
pip install idna
pip install importlib-metadata
pip install itsdangerous
pip install Jinja2
pip install MarkupSafe
pip install pycparser
pip install six
pip install SQLAlchemy
pip install sqlparse
pip install Werkzeug
pip install WTForms
pip install zipp
pip install flask_restful
pip install flask_migrate
pip install psycopg2
pip install python-dotenv

flask db init 
flask db migrate 
flask db upgrade


For frontend 
npm install react-scripts --savenpm 
npm install react-modal
npm install bootstrap
npm install bootstrap-icons
npm install react-split-pane