.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #272c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.problem-solver-container {
  display: flex;
  height: 100%;
}

.left-pane {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.right-pane {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

.problem-description {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.test-case-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.test-case {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.code-editor {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.code-input {
  width: 80%;
  height: 300px;
  padding: 10px;
  font-size: 14px;
  border: none;
}

.output-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.output {
  white-space: pre-wrap;
  font-family: monospace;
  margin: 5px 0;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-y: auto;
}